//categories
.category-block>ul>li
border-bottom 1px solid #ccc
.category-block li
margin-bottom 8px
.category-list
@media mini
  width 45%
  float left
  margin 0 5% 0 0
@media tablet
  width 100%
  float none
  margin .5em 0 0
.categoriy-list-item
  padding .5em 5%
.category-list-count
  top -.5em
  padding-left .3em
  font-size 75%
  line-height 0
  position relative
  vertical-align baseline
ul, ol, dl
  list-style none
ul, ol, dl
  background-color #f9f9fa
  margin-left 20px
  li
    border-bottom 1px dashed #ccc
.category-list-child
  border-top 1px dashed #ccc
  margin-bottom 8px

作者：seayxu
链接：http://www.jianshu.com/p/7d0c5e30e0f3
來源：简书
著作权归作者所有。商业转载请联系作者获得授权，非商业转载请注明出处。